<% include('layout', { body: null }) %>
<h2>Agregar usuario</h2>
<form action="/add" method="POST">
  <label>Nombres: <input type="text" name="nombre" required></label>
  <label>Correo electronico: <input type="email" name="email" required></label>
  <label>fecha de registro: <input type="date" name="fecha" required></label>
  <button type="submit">Guardar</button>
</form>
